/*Stylesheet for additem.html and index.html*/

body{
background:#FFFFFF url("http://i24.photobucket.com/albums/c39/youngbutcute07/notepad_page-2.png") center;
overflow:scroll;
	}
	
h1{
	font-family:Tahoma, Geneva, sans-serif; serif;
	text-align:center;
	letter-spacing:-1px;
	text-shadow: 5px 5px 5px #404040;
	border-style:ridge;
	border-color:#0000FF;
	padding:5px;
	color:#00008B;
	}
	
h2{
	font-family:Tahoma, Geneva, sans-serif; serif;
	text-align:center;
	padding-top:5px;
	color:#00008B;	
	}
	
p{
	font-family:Tahoma, Geneva,  sans-serif; serif;
	font-weight:bold;
	text-align:center;
	padding-top:25px;
	white-space:wrap;
	}
	
/*Name of Task*/
ul.nOT{
	font-family:Tahoma, Geneva, sans-serif;
	}
	
/*Category Checkboxes*/
ul.checkBoxes{
	font-family:Tahoma, Geneva, sans-serif;
    }
    
/*Date Selections*/    
ul.dateSelects{
	font-family:Tahoma, Geneva, sans-serif;
	}
	
/*Priority Levels*/
ul.pWord{
	font-family:Tahoma, Geneva, sans-serif;
	}
	
/*Alert Options 1-3 and Note*/
ul.alertNote{
	font-family:Tahoma, Geneva, sans-serif;
	}
	
/*Notes*/	
li.noteWord{
	padding-top:10px;
	}
	
li{
	display:block;
	}

legend.field{
	font-family:Tahoma, Geneva, sans-serif; serif;
	font-weight:bold;
	color:#00008B;	
	}
	
fieldset{
	border-color:#A6A6A6;
	}
	
input{
	outline:#A6A6A6 solid;
	}

/*Select Alert Bar*/
input.bar{
outline:none;
}




